/* GLOBAL TYPOGRAPHY */

body {
  background-color: #dcdcdc;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  font-size: 1.25em;
}

  
/* FLEXBOX LAYOUT */
html, body {
  min-height: 100vh;
  margin: auto;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  height: 8em;
  background-color: navy;
  color: white;
  text-align: center;
  
}
main {
  flex: auto;
  max-width: 80%;
  margin: auto;
}
footer {
  height: 8em;
  background-color: #7a7a7a;
  text-align: center;
  background-color: #fa6400;
  color: navy;
}


/* HEADER/FOOTER */
header, footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.5em;
}
.emoji {
  display: inline-block;
  width: 15%;
}

/* FORM ELEMENTS */
input {
  padding: .5em;
  width: 150px;
  background: #FCFCFC;
  border: 1px solid;
}
.button-color {
  padding: .5em;
  width: 75px;
  border-radius: 3px;
  cursor: pointer;
  border-color: navy;
}
#fire-button, #ice-button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: 3px solid navy;


}

#fire-button {
  background-color: lightskyblue;
}

#ice-button {
  background-color: #fa6400;
}

#affirmation-input, #author-input {
  border-color: #fa6400;
  border-width: 3px;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 3px solid transparent;
  border-color: navy;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* TABLE */
table {
  width: 100%;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 3.5em;
  border-color: navy;
  border-width: 3px;
}
thead {
  background: #7a7a7a;
  color: #fcfcfc;
}
tbody tr:nth-child(odd){ 
  background: #fcfcfc;
}
tbody tr:nth-child(even){
  background: lightskyblue;
}


.button-color {
  color: red;
  font-size: 20px;
}



